<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if @user.errors.any? %>
        <h3>There are <%= @user.errors.count %>ea errors in the entered contents.</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h2>User info</h2>

        <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
          <label for="inputName">Name</label><br>
          </div>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class:"form-control name"%><br>
          <div class="form-group">
          <p>Image</p>
          </div>
          <%= f.attachment_field :profile_image %><br>
          <div class="form-group">
          <p>Introduction</p>
          <%= f.text_field :introduction, autofocus: true, class:"form-control introduction" %><br>
          </div>
          <div class="form-group">
          <%= f.submit "Update User", class:"btn btn-secondary" %>
          </div>

        <% end %>